{% if post.Title != "" and post.Content != "" %}
<div id="post-{{post['PostID']}}" class="card mb-3">
  <div class="card-body">
    <div class="d-flex">
      <a
        class="text-reset text-decoration-none"
        href="/profile/{{post.UserID}}"
      >
        <img
          src="{{ url_for('profile_picture', user_id=post.UserID) }}"
          class="rounded-circle d-inline"
          width="40"
          height="40"
        />&nbsp;
        <h5 class="ml-2 d-inline">{{ post['UserName'] }}</h5>
      </a>
      {% with date = post['Date'].strftime("%x")%}
      <span class="ml-2 text-end flex-fill">{{ date }} </span>
      {% endwith %}
    </div>

    {% if post['RepostTitle'] %}
    <div class="card-body border border-3 m-3">
      <div class="d-flex">
        <a
          class="text-reset text-decoration-none"
          href="/profile/{{post.RepostUserId}}"
        >
          <img
            src="{{ url_for('profile_picture', user_id=post.RepostUserId) }}"
            class="rounded-circle d-inline"
            width="40"
            height="40"
          />&nbsp;
          <h5 class="ml-2 d-inline">{{ post['RepostUserName'] }}</h5>
        </a>
        {% with date = post['RepostDate'].strftime("%x")%}
        <span class="nl-2 text-end flex-fill">{{date}}</span>
        {% endwith %}
      </div>

      {% if post['RepostTitle'] == None %}
      <h6 class="mt-2">{{lang['post_deleted']}}</h6>
      {% else %}
      <h6 class="mt-2">{{ post['RepostTitle'] }}</h6>
      {% endif %} {% if post['RepostContent'] == None %}
      <p>{{lang['post_deleted']}}</p>
      {% else %}
      <p>{{ post['RepostContent'] }}</p>
      {% endif %}
    </div>
    {% endif %} {% if post['Title'] == None %}
    <h6 class="mt-2">{{lang['post_deleted']}}</h6>
    {% else %}
    <h6 class="mt-2">{{ post['Title'] }}</h6>
    {% endif %} {% if post['Content'] == None %}
    <p>{{lang['post_deleted']}}</p>
    {% else %}
    <p>{{ post['Content'] }}</p>
    {% endif %}

    <!-- Like Button -->
    <form
      action="{{ url_for('like_post', post_id=post['PostID']) }}"
      method="POST"
      class="d-inline"
    >
      <button {{"disabled" if post.Content == None or
    post.Title == None else ""}} type="submit" class="btn btn-sm btn-outline-primary border-2">
        <i class="bi bi-heart"></i> {{lang['post_like']}} ({{ post['Likes'] }})
      </button>
    </form>

    <!--Comments Button-->
    {% if show_extra_buttons %}
    <a class="btn btn-sm btn-outline-info border-2" role="button" href="{{url_for('comments', post_id=post['PostID'])}}"
      ><i class="bi bi-chat-left-dots"></i> {{lang['post_comments']}}</a
    >
    {% endif %}

    <!-- Repost Button -->
    <!-- Uses a small bit of js(onclick) to set the right url for the modal(popup) 
     It basically gets the form from the dom and then it sets the action to the correct url
    -->
    {% if show_extra_buttons %}
    <button
      type="button"
      {{"disabled" if post.Content == None or
      post.Title == None else ""}}
      class="btn btn-sm btn-outline-success border-2"
      data-bs-toggle="modal"
      data-bs-target="#repostModal"
      onclick="document.getElementById('repostForm').action='{{ url_for('repost', post_id=post['PostID']) }}'"
    >
      <i class="bi bi-repeat"></i> {{lang['post_repost']}}
    </button>
    {% endif %}

    <!--Delete Button, only shows up when the user owns the post and the post isn't yet deleted-->
    {% if session['user_id'] == post.UserID and show_extra_buttons %}
    <form
      action="{{ url_for('delete_post', post_id=post['PostID']) }}"
      method="POST"
      class="d-inline"
    >
      <button
        type="submit"
        {{"disabled" if post.Content == None or
    post.Title == None else ""}}
        class="btn btn-sm btn-outline-danger border-2"
      >
        <i class="bi bi-trash"></i> {{lang['post_delete']}}
      </button>
    </form>
    {% endif %}
  </div>
</div>
{% endif %}
