<div id="post-{{post['PostID']}}" class="card mb-3">
  <div class="card-body">
    <div class="d-flex">
      <a
        class="text-reset text-decoration-none"
        href="/profile/{{post.UserID}}"
      >
        <img
          src="{{ url_for('profile_picture', user_id=post.UserID) }}"
          class="rounded-circle d-inline"
          width="40"
          height="40"
        />&nbsp;
        <h5 class="ml-2 d-inline">{{ post['UserName'] }}</h5>
      </a>
      {% with date = post['Date'].strftime("%x")%}
      <span class="ml-2 text-end flex-fill"> &nbsp;{{ date }} </span>
      {% endwith %}
    </div>

    {% if post['RepostTitle'] %} {% include "includes/repost.html" %} {% endif
    %}

    <h6 class="mt-2">{{ post['Title'] }}</h6>
    <p>{{ post['Content'] }}</p>

    <!-- Like Button -->
    <form
      action="{{ url_for('like_post', post_id=post['PostID']) }}"
      method="POST"
      class="d-inline"
    >
      <button type="submit" class="btn btn-sm btn-outline-primary">
        <i class="bi bi-heart"></i> {{lang['post_like']}} ({{ post['Likes'] }})
      </button>
    </form>

    <!-- Repost Button -->
    <form
      action="{{ url_for('repost', post_id=post['PostID']) }}"
      method="POST"
      class="d-inline"
    >
      <button type="submit" class="btn btn-sm btn-outline-secondary">
        <i class="bi bi-repeat"></i> {{lang['post_repost']}}
      </button>
    </form>
  </div>
</div>
