{% extends 'layout.html' %} {% block content %}
<div class="d-flex flex-column h-100">
  <div class="overflow-y-scroll d-flex flex-column flex-grow-1">
    {% include "includes/post.html" %} {% macro load_comment(comment) %}

    <div class="card mb-3 px-4 pt-3">
      {% include "/includes/comment.html" %} {% for c in comment.children
      %}{{load_comment(c)}}{% endfor %}
    </div>

    {% endmacro %}
    <div class="container mt-4 p-0" id="comments-{{post.PostID}}">
      {% for comment in comments %} {{load_comment(comment)}} {% endfor %}
    </div>
  </div>
  <form
    action="{{url_for('create_comment', post_id=post.PostID)}}"
    method="post"
  >
    <div class="input-group">
      <input
        type="text"
        class="form-control d-inline"
        name="content"
        placeholder="{{lang['new_comment_content']}}"
        required
      />
      <button type="submit" class="btn btn-primary d-inline px-4">
        {{lang['new_post_post']}}
      </button>
    </div>
  </form>
</div>
{% endblock %}
