{% extends "layout.html" %} {% block content %}
<div class="container mt-4">
  <h2>Edit Profile</h2>
  <form
    action="{{ url_for('edit_profile') }}"
    method="POST"
    enctype="multipart/form-data"
  >
    <!-- Username -->
    <div class="form-group">
      <label for="username">{{lang['edit_profile_form_user_name']}}</label>
      <input
        type="text"
        class="form-control my-2"
        id="username"
        name="username"
        value="{{ user['UserName'] }}"
        required
      />
    </div>

    <!-- Password -->
    <div class="form-group">
      <label for="password">{{lang['edit_profile_form_password']}}</label>
      <input
        type="password"
        class="form-control my-2"
        id="password"
        name="password"
      />
    </div>

    <!-- Profile Picture -->
    <div class="input-group my-2">
      <label class="input-group-text text-bg-primary" for="inputGroupFile01"
        >{{lang['edit_profile_form_picture']}}</label
      >
      <input
        type="file"
        class="form-control"
        id="profile_picture"
        name="profile_picture"
        id="inputGroupFile01"
      />
    </div>

    <button type="submit" class="btn btn-primary my-2">
      {{lang['edit_profile_form_save']}}
    </button>
    <a href="{{ url_for('index') }}" class="btn btn-secondary"
      >{{lang['edit_profile_form_cancel']}}</a
    >
  </form>
</div>
{% endblock %}
