{% extends "layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>{{ lang['settings'] }}</h2>

    <!-- Language Selection Form -->
    <form action="{{ url_for('change_language') }}" method="POST" class="form-inline">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="language">{{ lang['settings_select_lang'] }}</label>
            {{ form.language(class="form-control", onchange="this.form.submit()") }}
        </div>
    </form>

    <!-- Dark Mode Toggle Form -->
    <form action="{{ url_for('toggle_dark_mode') }}" method="POST" class="form-inline mt-4">
        <div class="form-group">
            <label for="dark_mode">{{ lang['dark_mode'] }} Darkmode</label>
            {{ form.dark_mode(class="form-check-input", onchange="this.form.submit()") }}
        </div>
    </form>
</div>
{% endblock %}
